body{

    background-color:#ddd;
}
.container{
    background-color:#fff;
}
.top-header{
    background-color: #fdfdfd;
}
header .logo img{

    width: 120px;
}
header h1{
        color:#513582;
    margin-top: 10px;
}
a{

    color: #222;
    text-decoration: none!important;
}
ul .dropdown-menu{
    padding: 0!important;
}
.dropdown-menu>li>a{
    font-size: 16px;
}
.footer{
    height: 60px;
    background-color: #ddd;
}
.comment{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 7px;
    padding-left: 10px;
}
.login{
    font-size: 15px;
    padding: 5px;
}
nav li{
    background-color: #f2f2f2;
    border-radius: 3px;
}
nav a{
    font-size: 20px;
}

.nav li a:hover{
    background-color: #999;
    color:#fff;
}

.newPost{
    margin-bottom: 50px;
}
#admin h2{
    margin-left: 15px;
}
 .postImg img{
    width: 10%;
}
 .btn .newpost{
     margin-top: 25px;
     margin-bottom: 25px;
 }
 .btn-primary{
     margin-top: 10px;
 }

 .row_post{
     border-bottom: 1px solid #ddd;
     margin:  10px 0 10px 0;
     padding: 10px 0 10px 0;
 }


#parse{
    margin:20px 0 10px 0; ;
}
#parse input{
    margin: 5px 0!important;
}

.timeParse{
    margin: 10px 0;
}